/**
 *Base
 **/
/* line 7, ../scss/style.scss */
body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

/* line 12, ../scss/style.scss */
.wrapper {
  padding: 0 20px;
  max-width: 755px;
  margin: 0 auto;
}

/* line 18, ../scss/style.scss */
main {
  min-height: 400px;
  width: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
/* line 25, ../scss/style.scss */
main .border-top, main .border-bottom {
  background-image: url(../img/border-horz-mid.png);
  background-repeat: repeat-x;
  position: absolute;
  width: 100%;
  height: 10px;
  z-index: 5;
}
/* line 33, ../scss/style.scss */
main .border-top:before, main .border-top:after, main .border-bottom:before, main .border-bottom:after {
  content: '';
  position: absolute;
  width: 49px;
  height: 10px;
}
/* line 40, ../scss/style.scss */
main .border-top:before, main .border-bottom:before {
  left: -3px;
  background-image: url(../img/border-horz-left.png);
}
/* line 45, ../scss/style.scss */
main .border-top:after, main .border-bottom:after {
  right: -3px;
  background-image: url(../img/border-horz-right.png);
}
/* line 51, ../scss/style.scss */
main .border-top {
  top: -3px;
}
/* line 55, ../scss/style.scss */
main .border-bottom {
  bottom: -3px;
}
/* line 59, ../scss/style.scss */
main .border-left, main .border-right {
  background-image: url(../img/border-vertical-mid.png);
  background-repeat: repeat-y;
  position: absolute;
  height: 100%;
  width: 10px;
  z-index: 5;
}
/* line 68, ../scss/style.scss */
main .sub-menu {
  display: none;
}
/* line 73, ../scss/style.scss */
main .show-sub-menu .sub-menu, main .panel-sub-menu .sub-menu {
  display: block;
}
/* line 78, ../scss/style.scss */
main img {
  max-width: 300px;
  float: left;
  padding-right: 10px;
}
/* line 84, ../scss/style.scss */
main h2 {
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 20px;
  font-weight: 300;
}
/* line 91, ../scss/style.scss */
main p {
  font-weight: 300;
}
/* line 95, ../scss/style.scss */
main .border-left {
  left: -4px;
}
/* line 99, ../scss/style.scss */
main .border-right {
  right: -4px;
}
/* line 103, ../scss/style.scss */
main .wrap {
  padding: 10px;
}
/* line 106, ../scss/style.scss */
main .wrap.home {
  text-align: center;
}
/* line 111, ../scss/style.scss */
main .pic-bg {
  background-image: url(../img/chris-emma-pic.jpg);
  background-position: top center;
  background-size: cover;
  width: 100%;
  padding: 30%;
  box-sizing: border-box;
}
/* line 120, ../scss/style.scss */
main .link-area {
  margin-bottom: 10px;
}
/* line 123, ../scss/style.scss */
main .link-area button {
  background: #A9B6C2;
  border: 0;
  padding: 3px 10px;
}
/* line 128, ../scss/style.scss */
main .link-area button a {
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  font-size: 18px;
}
/* line 136, ../scss/style.scss */
main .link-area button:first-child {
  background: #929BA2;
}

/* line 142, ../scss/style.scss */
.top-header {
  text-align: center;
  padding-top: 15px;
}
/* line 146, ../scss/style.scss */
.top-header img {
  max-width: 100%;
  height: auto;
}

/* line 152, ../scss/style.scss */
nav {
  height: auto;
  padding: 10px 0;
}
/* line 156, ../scss/style.scss */
nav ul {
  padding: 0;
  font-size: 0;
  margin: 0;
  text-align: justify;
  text-justify: distribute;
  width: 100%;
}
/* line 164, ../scss/style.scss */
nav ul li {
  position: relative;
  display: block;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
  list-style: none;
}
/* line 175, ../scss/style.scss */
nav ul li.active a {
  color: #929BA2;
}
/* line 180, ../scss/style.scss */
nav ul li a {
  color: #fff;
  text-decoration: none;
}
/* line 184, ../scss/style.scss */
nav ul li a:hover {
  color: #929BA2;
  transition: all ease-in-out 500ms;
}

/*Details Page*/
/* line 194, ../scss/style.scss */
.panel-sub-menu ul.sub-menu {
  font-size: 0;
  margin: 0;
  padding: 0;
}
/* line 199, ../scss/style.scss */
.panel-sub-menu ul.sub-menu .link {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 5px;
  list-style: none;
  background: #fff;
  box-sizing: border-box;
}
/* line 208, ../scss/style.scss */
.panel-sub-menu ul.sub-menu .link a {
  display: block;
  color: #fff;
  text-decoration: none;
  background: #bbb;
  padding: 37px 0;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-align: center;
}

/*sub-menu*/
/* line 224, ../scss/style.scss */
.show-sub-menu {
  margin-bottom: 95px;
}
/* line 227, ../scss/style.scss */
.show-sub-menu ul.sub-menu {
  font-size: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 10px 17px;
  box-sizing: border-box;
}
/* line 238, ../scss/style.scss */
.show-sub-menu ul.sub-menu:before {
  content: '';
  width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: 2px;
  height: 1px;
  background-color: #ddd;
}
/* line 251, ../scss/style.scss */
.show-sub-menu ul.sub-menu .link {
  display: inline-block;
  vertical-align: top;
  width: auto;
  padding: 5px 2px;
  list-style: none;
  background: #fff;
  box-sizing: border-box;
}
/* line 260, ../scss/style.scss */
.show-sub-menu ul.sub-menu .link a {
  display: block;
  color: #000;
  text-decoration: none;
  background: #eee;
  padding: 5px 5px;
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
}
/* line 272, ../scss/style.scss */
.show-sub-menu ul.sub-menu .link.active a, .show-sub-menu ul.sub-menu .link:hover a {
  background-color: #929BA2;
  color: #fff;
  transition: background-color ease-in-out 500ms;
}

/* line 282, ../scss/style.scss */
footer .footer-logo {
  text-align: center;
  margin: 20px 0;
}

/*RSVP Page*/
/* line 289, ../scss/style.scss */
#RSVPifyIFrame {
  width: 108% !important;
  border: none;
  margin: -29px -4% -155px;
}

/* line 295, ../scss/style.scss */
.rsvp-bg-hack {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  left: 0;
  background: #fff;
  height: 20px;
}

/* line 6, ../scss/_video.scss */
.homepage-hero-module {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 720px;
  z-index: -1;
  background-image: url("../img/site-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
/* line 18, ../scss/_video.scss */
.homepage-hero-module .filter {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(rgba(255, 255, 255, 0.6)));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 70%, white 100%);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), white);
  /* IE 10 */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), white);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), white);
}
/* line 41, ../scss/_video.scss */
.homepage-hero-module video {
  display: none;
}

@media all and (min-width: 767px) {
  /* line 47, ../scss/_video.scss */
  .homepage-hero-module {
    height: 100%;
  }
  /* line 50, ../scss/_video.scss */
  .homepage-hero-module video {
    display: block;
  }
}
@media all and (min-width: 1400px) {
  /* line 58, ../scss/_video.scss */
  .homepage-hero-module .filter {
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 40%, white 100%);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), white);
  }
}
@media all and (min-width: 600px) {
  /* line 310, ../scss/style.scss */
  nav {
    padding: 0;
  }
  /* line 313, ../scss/style.scss */
  nav ul {
    margin-bottom: 5px;
  }
  /* line 316, ../scss/style.scss */
  nav ul li {
    display: inline-block;
  }
  /* line 320, ../scss/style.scss */
  nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  /* line 329, ../scss/style.scss */
  main .pic-bg {
    float: left;
    margin-right: 10px;
    width: 40%;
    height: 380px;
    padding: 0;
  }
  /* line 338, ../scss/style.scss */
  main .wrap.home {
    text-align: left;
  }
  /* line 343, ../scss/style.scss */
  main .link-area {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
  }

  /*RSVP Page*/
  /* line 352, ../scss/style.scss */
  #RSVPifyIFrame {
    width: 105% !important;
    margin: -29px -2% -155px;
  }

  /* line 357, ../scss/style.scss */
  .rsvp-bg-hack {
    height: 20px;
  }

  /*Details Page*/
  /* line 363, ../scss/style.scss */
  .panel-sub-menu ul.sub-menu .link {
    width: 50%;
  }
  /* line 366, ../scss/style.scss */
  .panel-sub-menu ul.sub-menu .link .item-container {
    height: 116px;
  }

  /*sub-menu*/
  /* line 373, ../scss/style.scss */
  .show-sub-menu {
    margin-bottom: 70px;
  }
  /* line 376, ../scss/style.scss */
  .show-sub-menu ul.sub-menu {
    text-align: justify;
  }
  /* line 379, ../scss/style.scss */
  .show-sub-menu ul.sub-menu:before {
    width: 95%;
  }
  /* line 383, ../scss/style.scss */
  .show-sub-menu ul.sub-menu:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  /* line 389, ../scss/style.scss */
  .show-sub-menu ul.sub-menu .link {
    padding: 5px 0;
  }
  /* line 392, ../scss/style.scss */
  .show-sub-menu ul.sub-menu .link a {
    padding: 5px 7px;
    font-size: 15px;
  }
}
@media all and (min-width: 767px) {
  /* line 402, ../scss/style.scss */
  body {
    background-image: none;
  }

  /* line 408, ../scss/style.scss */
  nav ul li {
    font-size: 26px;
  }

  /*RSVP Page*/
  /* line 415, ../scss/style.scss */
  #RSVPifyIFrame {
    width: 104% !important;
  }

  /*sub-menu*/
  /* line 420, ../scss/style.scss */
  .show-sub-menu ul.sub-menu {
    text-align: justify;
  }
  /* line 423, ../scss/style.scss */
  .show-sub-menu ul.sub-menu:before {
    width: 100%;
    max-width: 720px;
  }
  /* line 429, ../scss/style.scss */
  .show-sub-menu ul.sub-menu .link a {
    padding: 5px 10px;
    font-size: 18px;
  }
}
@media all and (min-width: 1300px) {
  /* line 438, ../scss/style.scss */
  .wrapper {
    padding-top: 2%;
  }
}
@media all and (min-width: 1500px) {
  /* line 444, ../scss/style.scss */
  .wrapper {
    padding-top: 4%;
  }
}

/*# sourceMappingURL=style.css.map */
