/**
 *Base
 **/

$color1:#929BA2; //primary color

body{
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.wrapper {
    padding: 0 20px;
    max-width: 755px;
    margin: 0 auto;
}

main{
    min-height: 400px;
    width: 100%;
    background-color: #fff;
    position: relative;
    overflow: hidden;

    .border-top, .border-bottom{
        background-image: url(../img/border-horz-mid.png);
        background-repeat: repeat-x;
        position: absolute;
        width: 100%;
        height: 10px;
        z-index: 5;

        &:before, &:after{
            content: '';
            position: absolute;
            width: 49px;
            height: 10px;
        }

        &:before{
            left: -3px;
            background-image: url(../img/border-horz-left.png);
        }

        &:after{
            right: -3px;
            background-image: url(../img/border-horz-right.png);
        }
    }

    .border-top{
        top: -3px;
    }

    .border-bottom{
        bottom:-3px;
    }

    .border-left, .border-right{
        background-image: url(../img/border-vertical-mid.png);
        background-repeat: repeat-y;
        position: absolute;
        height: 100%;
        width: 10px;
        z-index: 5;
    }

    .sub-menu{
        display: none;
    }

    .show-sub-menu, .panel-sub-menu{
        .sub-menu{
            display: block;
        }
    }

    img{
        max-width: 300px;
        float: left;
        padding-right: 10px;
    }

    h2{
        margin: 0;
        padding: 10px 0 0 0;
        font-size: 20px;
        font-weight: 300;
    }

    p{
        font-weight: 300;
    }

    .border-left{
        left: -4px;
    }

    .border-right{
        right: -4px;
    }

    .wrap{
        padding: 10px;

        &.home{
            text-align: center;
        }
    }

    .pic-bg {
        background-image: url(../img/chris-emma-pic.jpg);
        background-position: top center;
        background-size: cover;
        width: 100%;
        padding: 30%;
        box-sizing: border-box;
    }

    .link-area{
        margin-bottom: 10px;
        
        button{
            background: #A9B6C2;
            border: 0;
            padding: 3px 10px;

            a{
                color: #fff;
                text-decoration: none;
                font-weight: 100;
                font-size: 18px;
            }
        }

        button:first-child{
            background: #929BA2;
        }
    }
}

.top-header{
    text-align: center;
    padding-top: 15px;

    img{
        max-width: 100%;
        height: auto;
    }
}

nav{
    height: auto;
    padding: 10px 0;

    ul{
        padding: 0;
        font-size: 0;
        margin: 0;
        text-align: justify;
        text-justify: distribute;
        width: 100%;

        li{
            position: relative;
            display: block;
            vertical-align: top;
            text-align: center;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 100;
            list-style: none;

            &.active{
                a{
                    color: $color1;
                }
            }

            a{
                color: #fff;
                text-decoration: none;

                &:hover{
                    color: $color1;
                    transition: all ease-in-out 500ms
                }
            }
        }
    }
}

/*Details Page*/
.panel-sub-menu ul.sub-menu{
    font-size: 0;
    margin: 0;
    padding:0;

    .link{
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 5px;
        list-style: none;
        background: #fff;
        box-sizing: border-box;

        a{
            display: block;
            color: #fff;
            text-decoration: none;
            background: #bbb;
            padding: 37px 0;
            margin: 0;
            font-size: 30px;
            font-weight: 300;
            text-align: center;
            text-align: center;
        }
    }
}

/*sub-menu*/
.show-sub-menu {
    margin-bottom: 95px;

    ul.sub-menu {
        font-size: 0;
        margin: 0;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        padding: 10px 17px;
        box-sizing: border-box;

        &:before {
            content: '';
            width: 90%;
            margin: 0 auto;
            left: 0;
            right: 0;
            margin: 0 auto;
            position: absolute;
            top: 2px;
            height: 1px;
            background-color: #ddd;
        }

        .link {
            display: inline-block;
            vertical-align: top;
            width: auto;
            padding: 5px 2px;
            list-style: none;
            background: #fff;
            box-sizing: border-box;

            a {
                display: block;
                color: #000;
                text-decoration: none;
                background: #eee;
                padding: 5px 5px;
                margin: 0;
                font-size: 13px;
                font-weight: 300;
                text-align: center;
            }

            &.active a, &:hover a {
                background-color: $color1;
                color: #fff;
                transition: background-color ease-in-out 500ms;
            }
        }
    }
}

footer{
    .footer-logo{
        text-align: center;
        margin: 20px 0;
    }
}

/*RSVP Page*/
#RSVPifyIFrame{
    width: 108%!important;
    border: none;
    margin: -29px -4% -155px;
}

.rsvp-bg-hack{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    left: 0;
    background: #fff;
    height: 20px;
}

@import "video";

@media all and (min-width: 600px){

    nav{
        padding: 0;

        ul{
            margin-bottom: 5px;

            li{
                display: inline-block;
            }

            &:after {
                content: '';
                display: inline-block;
                width: 100%;
            }
        }
    }

    main{
        .pic-bg {
            float: left;
            margin-right: 10px;
            width: 40%;
            height: 380px;
            padding: 0;
        }

        .wrap{
            &.home{
                text-align: left;
            }
        }

        .link-area{
            position: absolute;
            bottom: 10px;
            right: 10px;
            margin: 0;
        }
    }

    /*RSVP Page*/
    #RSVPifyIFrame{
        width: 105%!important;
        margin: -29px -2% -155px;
    }

    .rsvp-bg-hack{
        height: 20px;
    }

    /*Details Page*/
    .panel-sub-menu ul.sub-menu{
        .link{
            width: 50%;

            .item-container{
                height: 116px;
            }
        }
    }

    /*sub-menu*/
    .show-sub-menu {
        margin-bottom: 70px;

        ul.sub-menu {
            text-align: justify;

            &:before {
                width: 95%;
            }

            &:after {
                content: '';
                display: inline-block;
                width: 100%;
            }

            .link {
                padding: 5px 0;

                a {
                    padding: 5px 7px;
                    font-size: 15px;
                }
            }
        }
    }
}

@media all and (min-width: 767px){
    body{
        background-image: none;
    }

    nav{
        ul{
            li{
                font-size: 26px;
            }
        }
    }

    /*RSVP Page*/
    #RSVPifyIFrame{
        width: 104%!important;
    }

    /*sub-menu*/
    .show-sub-menu ul.sub-menu{
        text-align: justify;

        &:before{
            width: 100%;
            max-width: 720px;
        }

        .link{
            a{
                padding: 5px 10px;
                font-size: 18px;
            }
        }
    }
}

@media all and (min-width: 1300px){
    .wrapper{
        padding-top: 2%;
    }
}

@media all and (min-width: 1500px){
    .wrapper{
        padding-top: 4%;
    }
}